/*Gen*/

#preloader{
    position: fixed;
    width: 100%;
    height:100vh;
    background: white;
    color:#269c15;
    z-index: 99999999999;
}

#preloader i{
    margin-top: 45vh;
}

section h3{
    font-size: 1.5em!important;
}

/*Header & Top-menu styles*/

header{
    height: 100vh;
}

#topmainnavbar.attached .navbar-collapse.show,#topmainnavbar.attached .navbar-collapse.collapsing{
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #a3aead;
}

.carousel,.carousel-item,.carousel-item .active{
    height:100%!important;
}
.carousel-inner{
    height:100%;
}
.carousel-caption{
    top:37vh;
    bottom:auto;
}

.carousel-item > img {
    height: 100%!important;
}

#myCarousel .carousel-caption h1{
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .navbar-toggleable-md > .container {
        width: 90%;
    }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/* /Header & Top-menu styles */



/* Services section styles */

a{
    color:#333;
}

a:focus{
    color: white;
}

section#services a:hover, section#services a:focus{
    color: #F69C00;
}

section#services .card{
    border-radius: 0px;
    text-align: center;
    margin-top:10px;
    border: none;
}

section#services .card-title{
    min-height: 50px;
    padding: 0 5px;
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 1.15rem;
}

#services .card-text{
    color: rgba(51, 51, 51, 0.8);
    min-height: 60px;
    font-size: 0.9rem;
    line-height: 0.9rem;
}

section#after-services{
    /*background: #ffbc13;*/
    padding:25px 0;
}
section#after-services h4{
    font-size: 1.3rem;
}

hr{
    border-width: 3px;
    max-width: 50px;
}

.front-end-button-top{
    margin-top: 50px;
}

#services{
    color:#333;
   /* margin-top: 50px;*/
    padding: 50px 0;
    background: rgba(34, 34, 34, 0.05);
}

.section-heading{
    text-transform: uppercase;
}

#services #servicesTab{
    /*
    border: 2px solid #DEDEDF;
    */
}
#services #servicesTab a{
        padding: .7em 1em;
}
#services #servicesTab a{
    border-radius: 0!important;
    border: 1px solid #DEDEDF;
}

#services #servicesTab a:hover{
    /*border-left: 2px solid #F69C00;
    border-right: 2px solid #F69C00;*/
}

#services #servicesTab a.active{
    border-radius: 0!important;
    background-color: transparent!important;
    color: #F69C00;
    border-left: 2px solid #F69C00;
    border-right: 2px solid #F69C00;
}

@media(max-width: 768px){
    #services #servicesTabContent{
        padding-top: 15px;
    }
}

/* /Services section styles */

/*Footer*/
footer{
    background: #333;
    color: white;
    padding:15px 0;
}

footer a{
    color: #b1b1b1!important;
}

footer a:hover{
    text-decoration: none!important;
    color: #ffbc13!important;
}

.container-slider{
    position: relative;
    width:85%;
    margin: 0 auto;
}

/*Mobile styles*/

@media(max-width: 576px){
    .container-slider{
        width:75%;
    }
    .carousel-caption{
        top: 20vh;
        right: 0!important;
        left: 0!important;
    }
    #myCarousel .carousel-caption h1{
        font-size: 2rem;
    }
}

@media(max-width: 320px){
    .carousel-caption{
        top: 19vh;
    }
    .carousel-caption > h1{
        font-size: 1.6rem;
    }
    #services .card-title{
        /*font-size: 1rem*/
    }
    #services .card{
        min-height: 0px!important;
    }
}

/*Navbar*/
#topcontactnavbar{
    color: white;
    background-color: rgba(0,0,0, 0.2);
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    position: absolute;
}

#topcontactnavbar .social li{
    margin-left:18px;
}

#topcontactnavbar .social li a{
    color: rgba(255,255,255,.9);
}

#topcontactnavbar .social li a:hover{
    color: white;
}

#topcontactnavbar .small-contact li{
    margin-left:25px;
}


#topmainnavbar {
    background-color: rgba(0,0,0, 0.0);
    margin-top:40px;
    transition: all 0.25s;
}

#topmainnavbar.detached .navbar-toggler.navbar-toggler-right {
    background-color: #cecece;
}

#topmainnavbar li {
    margin: 0 5px 0 5px;
    transition: all 0.25s;
}
#topmainnavbar.detached li:hover{
    /*border: 2px solid rgba(34, 34, 34, 0.05);*/
    color: #1f9e00!important;
    transition: all 0.25s;
}

#topmainnavbar.detached li:hover a:not(.dropdown-item){
    color:#0b086b!important;
    transition: all 0.25s;
}

#topmainnavbar.detached li:hover a i{
    color: #1f9e00!important;
    transition: all 0.25s;
}

#topmainnavbar.detached li:hover a.dropdown-toggle::after{
    color: #1f9e00!important;
    transition: all 0.25s;
}

#topmainnavbar.detached li.active{
    /*border: 2px solid rgba(34, 34, 34, 0.05);*/
    opacity: 1;
}

#topmainnavbar.detached li.active a{
    color:#0b086b!important;
}

#topmainnavbar.detached li.active a i{
    color:#1f9e00!important;
}



#topmainnavbar a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
}

#topmainnavbar .dropdown-item:active{
    background-color: #c6c6c6!important;
}

.attached{
    position: absolute!important;
}

.detached{
    margin-top:0!important;
    background-color: rgba(255,255,255, 0.95)!important;
    position: fixed!important;
    border-bottom: rgba(34, 34, 34, 0.05) solid;
}
.detached a{
    color: #333!important;
}


/*Portfolio*/

#portfolio{
    background: url("../img/bg-section-1.jpg") center no-repeat no-repeat;
    background-attachment: fixed;
    color: white!important;
    padding: 100px 0 0 0;
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto
}

.text-faded {
    color: rgba(255,255,255,.7)
}

.portfolio-box .portfolio-box-caption {
    color: #fff;
    opacity: 0;
    display: block;
    background: rgba(246, 156, 0, .95);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all .35s
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding: 0 15px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1
}

.portfolio-box:focus {
    outline: 0
}

@media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size:16px
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px
    }
}

/*#portfolio>.container>.row>.col-md-12{
    padding-right: 30px!important;
}*/

#portfolio .content-row{
    width: 100%;
    margin-right:0!important;
    margin-left: 0!important;
    margin-top: 50px;
}

/*#portfolio .container{
    padding-right: 0!important;
}

#portfolio .no-gutter{
    width:100%;
}*/

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

/*About*/
#about{
    padding: 25px 0;
    margin-top: 20px;
    color:#333;
}

/*Partners*/
section#partners{
    margin-top: 20px;
    padding: 50px 0;
    background: url('../img/witewall_3.png') scroll;
    color:#333;
}

section#partners .owl-nav.disabled{
    display: inherit!important;
}

section#partners .owl-carousel .owl-nav div{
    opacity: 0.7;
    display: block;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 24px;
    line-height: 24px;
    background: url("../img/prev.png") no-repeat center center;
    background-size: 10px 24px;
    border-radius: 0;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -12px;
}

section#partners .owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: -20px;
    background: url("../img/next.png") no-repeat center center;
}

section#partners .owl-carousel .owl-nav div:hover{
    opacity: 1;
}

/*Contacts*/
section#contacts{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px 0;
    color:#333;
}

section#contacts a:hover, section#contacts a:focus{
    color: #F69C00
}



.btn-more-orange{
    border: none;
    background: rgba(246, 156, 0, .95);


}

.btn-more-orange:hover{
    border:none;
}
