/*Contact navbar*/

#topcontactnavbarPage{
    color: white;
    background-color: #1f9e00;
    border-bottom: 1px solid rgba(255,255,255, 0.4);
}

#preloader{
    position: fixed;
    width: 100%;
    height:100vh;
    background: white;
    color:#269c15;
    z-index: 99999999999;
}

#preloader i{
    margin-top: 45vh;
}

#topcontactnavbarPage .social li{
    margin-left:18px;
}

#topcontactnavbarPage .social li a{
    color: rgba(255,255,255,.9);
}

#topcontactnavbarPage .social li a:hover{
    color: white;
}

#topcontactnavbarPage .small-contact li{
    margin-left:25px;
}

/**/

/*Main navbar*/

#topmainnavbarPage {
    background-color: rgba(0,0,0, 0.0);
    /*margin-top:40px;*/
    transition: all 0.25s;
}



#topmainnavbarPage li {
    margin: 0 5px 0 5px;
    transition: all 0.25s;
}
#topmainnavbarPage li:hover{
    /*border: 2px solid rgba(34, 34, 34, 0.05);*/
    color: #1f9e00!important;
    transition: all 0.25s;
}

#topmainnavbarPage li:hover a:not(.dropdown-item){
    color:#0b086b!important;
    transition: all 0.25s;
}

#topmainnavbarPage li:hover a i{
    color: #1f9e00!important;
    transition: all 0.25s;
}

#topmainnavbarPage li:hover a.dropdown-toggle::after{
    color: #1f9e00!important;
    transition: all 0.25s;
}

#topmainnavbarPage li.active{
    /*border: 2px solid rgba(34, 34, 34, 0.05);*/
    opacity: 1;
}

#topmainnavbarPage li.active a{
    color:#0b086b!important;
}

#topmainnavbarPage li.active a i{
    color:#1f9e00!important;
}

@media (max-width: 991px) {
    .navbar-toggleable-md > .container {
        width: 90%;
    }
    .navbar-toggler{

    }
}



#topmainnavbarPage a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    color: #333!important;
}

.attached{
        /*position: absolute!important;*/
}

.detached{
    margin-top:0!important;
    background-color: rgba(255,255,255, 0.95)!important;
    /*position: fixed!important;*/
    border-bottom: rgba(34, 34, 34, 0.05) solid;
}
.detached a{
    color: #333!important;
}
/**/

/*Page Heading*/
#pageHeading{
    background-color: #f8f8f8;
    padding: 52px 0;
}

#pageHeading a:hover{
    text-decoration: none;
}

/*Page Content*/
#pageContent{
    padding: 0 0;
}

#pageContent a:not(.btn){
    text-decoration: none;
}

#pageContent a:not(.btn):hover{
}

#pageContent .row{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Partner page styles*/
.partner-img{
    margin-top: 10px;
}
/**/

/*Footer*/
footer{
    background: #333;
    color: white;
    padding:15px 0;
    width: 100%;
}

footer a{
    color: #b1b1b1!important;
}

footer a:hover{
    text-decoration: none!important;
    color: #ffbc13!important;
}